<link rel="stylesheet" href="/css/account_info.css">
<link rel="stylesheet" href="/css/nav_sidebar.css">

<!--Sidebar-->
<div class="row mt-3 justify-content-center">
    <nav id="sidebar" class="sidebar-wrapper col-3 border shadow rounded-lg p-3">
        <!--Sidebar Header -->
        <div class="sidebar-header d-flex align-items-center">
            <div class="user-pic rounded-circle">
                <img class="img-rounded" src="/images/account_icon.jpg" />
            </div>

            <div class="user-info">
                <div class="user-name align-bottom text-dark">Lê Hoàng Vũ</div>
                <div class="user-email align-middle">lhvubtqn@gmail.com</div>
            </div>
        </div>
        <!--Sidebar Menu -->
        <ul class="sidebar-menu list-unstyled">
            <li class="sidebar-account hovergrey active">
                <a href="#">
                    <i class="fa fa-user text-dark "></i>
                    <span class="text-dark">Account infomation</span>
                </a>
            </li>
            <li class="sidebar-orders hovergrey">
                <a href="#">
                    <i class="fa fa-book text-dark"></i>
                    <span class="text-dark ">Orders</span>
                </a>
            </li>
            <li class="sidebar-bookyoubuy hovergrey">
                <a href="#">
                    <i class="fa fa-shopping-cart text-dark "></i>
                    <span class="text-dark">Books You Buy</span>
                </a>
            </li>

        </ul>
    </nav>

    <!--Account Info -->
    <div class="pb-4 content border col-8 shadow rounded-lg" id="content-data">
        <div class="mx-3 mt-4 mb-5 font-weight-bold">ACCOUNT INFORMATION</div>
        <form class="mx-3">
            <div class="form-group row ml-1">
                <label for="fullName" class="col-2 col-form-labe mt-2 justify-content-left px-0 mx-0">Full
                    Name </label>
                <div class="col-10">
                    <input type="text" class="form-control" id="fullName" placeholder="Le Hoang Vu">
                </div>
            </div>

            <div class="form-group row ml-1">
                <label for="phoneNumber" class="col-2 col-form-labe mt-2 justify-content-left px-0 mx-0">Phone
                    Number</label>
                <div class="input-group col-10">
                    <input type="text" class="form-control my-auto" id="phoneNumber"
                        placeholder="Type your phone number">
                    <div class="input-group-append">
                        <button type="submit" class="btn my-1 background-secondary button-hover">Send
                            activation code</button>
                    </div>
                </div>
            </div>

            <div class="form-group row ml-1">
                <label for="activeCode" class="col-2 col-form-labe mt-2 justify-content-left px-0 mx-0">Activation
                    Code</label>
                <div class="col-10">
                    <input type="text" class="form-control" id="activeCode"
                        placeholder="Type your activation code sent to the phone number above">
                </div>
            </div>

            <div class="form-group row ml-1">
                <label for="email" class="col-2 col-form-labe mt-2 justify-content-left px-0 mx-0">Email</label>
                <div class="col-10">
                    <input type="email" class="form-control" id="email" placeholder="lhvubtqn@gmail.com">
                </div>
            </div>

            <div class="form-group row ml-1">
                <label class="col-2 col-form-label mt-2 justify-content-left px-0 mx-0">Gender</label>
                <div class="col-10">
                    <div class="form-check form-check-inline mt-3 justify-between-center">
                        <input class="form-check-input" name="gender" type="radio" id="Male" value="Male">
                        <label class="form-check-label" for="Male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input name=" gender" type="radio" id="Female" value="Female">
                        <label class="form-check-label" for="Female">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="gender" type="radio" id="Another" value="Another">
                        <label class="form-check-label" for="Another">Another</label>
                    </div>
                </div>
            </div>

            <div class="form-group row ml-1 mt-2">
                <label class="col-2 col-form-label justify-content-left px-0 mx-0">Day
                    of
                    Birth</label>
                <div class="col-10">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" placeholder="mm/dd/yyyy">
                        <div class="input-group-append">
                            <div class="btn btn-secondary input-group-addon d-flex align-items-center">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row ml-1">
                <label for="password" class="col-2 col-form-labe mt-2 justify-content-left px-0 mx-0">Password</label>
                <div class="col-10">
                    <input type="password" class="form-control" id="password"
                        placeholder="Password length from 6 to 32 characters">
                </div>
            </div>

            <div class="form-group row ml-1">
                <label for="retype" class="col-2 col-form-labe mt-2 justify-content-left px-0 mx-0">Retype</label>
                <div class="col-10">
                    <input type="password" class="form-control" id="retype" placeholder="Retype your new password">
                </div>
            </div>

            <div class="form-group row ml-1">
                <label class="col-sm-2 col-form-labe mt-2 justify-content-left"> </label>
                <div class="col-sm-9">
                    <button type="submit" class="btn background-secondary button-hover">Update Information</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-12 mt-5 justify-content-center text-center">
    <a class="justify-content-center text-center" href="#"> NOT WHAT YOU LOOKING FOR? BROWSE MORE>></a>
</div>