<link rel="stylesheet" href="/css/your_cart.css">
<table class="table" style="margin-top: 100px; font-weight: bold;">
    <thead class="thead-light">
        <tr>
            <th style="text-align: center; font-size: 40px;font-weight: bold;"># </th>
            <th style="text-align: center; font-size: 40px;font-weight: bold; ">IMAGE</th>
            <th style="text-align: center; font-size: 40px;font-weight: bold;">PRODUCT</th>
            <th style="text-align: center; font-size: 40px;font-weight: bold;">QUANTITY</th>
            <th style="text-align: center; font-size: 40px;font-weight: bold;">TOTAL</th>
            <th style="text-align: center; font-size: 40px;font-weight: bold;">REMOVE</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" style="font-size: 30px;">1</th>
            <td>
                <img src="/images/Screen Shot 2020-04-25 at 9.41 1.svg" style="height: 150px;">
            </td>
            <td style="font-weight: bold; text-align: center; font-size: 30px;">
                Natoque penatibus
            </td>
            <td class="row">
                <button class="col btn-quantity btn-quantity-sub">-</button>
                <div class="col" style="text-align: center; font-size: 30px;">1</div>
                <button class="col btn-quantity btn-quantity-plus">+</button>
            </td>
            <td style="font-weight: bold; text-align: center;color: blue;font-size: 30px; ">
                $165.00
            </td>
            <td>
                <img src="/images/Remove.svg" style="width: 100px;height: 100px;">
            </td>
        </tr>
        <tr>
            <th scope="row" style="font-size: 30px;">2</th>
            <td>
                <img src="/images/Book 3.svg" style="height: 150px;;">
            </td>
            <td style="font-weight: bold; text-align: center;font-size: 30px;">
                Quisque fringilla
            </td>
            <td class="row">
                <button class="col btn-quantity btn-quantity-sub">-</button>
                <div class="col" style="text-align: center; font-size: 30px;">1</div>
                <button class="col btn-quantity btn-quantity-plus">+</button>
            </td>
            <td style="font-weight: bold; text-align: center;color: blue; font-size: 30px;">
                $125.00
            </td>
            <td>
                <img src="/images/Remove.svg" style="width: 100px;height: 100px;">
            </td>
        </tr>
        <tr>
            <th scope="row" style="font-size: 30px;">3</th>
            <td>
                <img src="/images/Book 2.svg" style="height: 150px;">
            </td>
            <td style="font-weight: bold; text-align: center; font-size: 30px;">
                Quisque fringilla
            </td>
            <td class="row">
                <button class="col btn-quantity btn-quantity-sub">-</button>
                <div class="col" style="text-align: center; font-size: 30px;">1</div>
                <button class="col btn-quantity btn-quantity-plus">+</button>
            </td>
            <td style="font-weight: bold; text-align: center;color: blue;font-size: 30px; ">
                $120.00
            </td>
            <td>
                <img src="/images/Remove.svg" style="width: 100px;height: 100px;">
            </td>
        </tr>

    </tbody>
</table>
<div class="row">
    <div class="col-2"></div>
    <div class="col-7 card">
        <ul class="card " style="font-weight: bold; font-size: 40px; margin: 10px;">
            <li class="inner row" style="margin:10px;">
                <span class="col-8">PROVISIONAL SUM</span>
                <span class="col-3">$410</span>
            </li>
        </ul>
        <div class="card" style="margin:10px;">
            <p class="coupon-title" style="font-weight: bold; font-size: 40px; margin: 10px;">PROMOS CODE </p>
            <div class="row" style="margin: 10px; height: 50px;">
                <input type="text" class="col-8" placeholder="INPUT HERE..." value="">
                <button type="button " class="col-4 cart__submit" disabled="">SUBMIT</button>
            </div>
        </div>
        <li class="inner row" style="font-weight: bold; font-size: 40px; margin: 10px;">
            <span class="col-8">TOTAL</span>
            <span class="col-3">$410</span>
        </li>
        <button type="button" class="cart__submit">ORDER</button>


    </div>
</div>
<div class="col-12 mt-5 justify-content-center text-center">
    <a class="justify-content-center text-center" href="#"> NOT WHAT YOU LOOKING FOR? BROWSE MORE>></a>
</div>