.list-books-container {
	border-style: solid;
	border-width: 1px;
	border-color: #e5e5e5;
}

.list-books-container .nav {
	align-items: center;
}

.list-books-container .nav .nav-item svg {
	width: 1rem;
}

.list-books-container .nav .search-container {
	display: flex;
	justify-content: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: #e5e5e5;
}

.list-books-container .nav .search-container input,
.list-books-container .nav .search-container button {
	border: none;
	font-size: 0.75rem;
	padding: 0.4rem;
}

.list-books-container .nav .search-container button {
	color: #808080;
	font-size: 0.875rem;
	background-color: #e5e5e5;
	width: 2rem;
}

.list-books .card {
	border: none;
	cursor: pointer;
}

.list-books .card:hover {
	box-shadow: 0px 0px 5px #c4c4c4;
}

.list-books .card img {
	height: 15rem;
}

.list-books .card .book-name {
	font-size: 1rem;
	font-weight: 600;
	color: #0000ff;
	height: 1.2rem;
	margin-bottom: 0.5rem;
}

.list-books .card .book-author {
	font-size: 1rem;
	font-weight: lighter;
	height: 1.4rem;
	margin: 0;
}

.list-books .card .book-price {
	font-size: 1rem;
	font-weight: normal;
	color: rgb(153, 19, 19);
}

.list-books .card .btn {
	border-style: solid;
	border-width: 1px;
	border-color: #ffc354;
	background-color: white;
	color: black;
	font-size: 0.8rem;
	font-weight: bold;
	text-transform: uppercase;
}

.list-books .card .btn:hover {
	background-color: #ffc354;
	color: black;
}
