.card-item{
    text-align: center;
    height: 340.1px;
    margin: 3px;
}

.btn-review{
    color: black;
    background-color:yellow;
    text-align: center;
    padding: 7px 30px;
    font-weight: bold;
    border-radius: 8px;
}
