.card
{   border-width: 0px;
    width: 20em;
    height: 30em;
    margin-left: 10px;
     
}
.card:hover{
    border-width: 1px;
    border-color: black;
}
.icon-img
{
    width: 20em;
    height: 25em; 
}
.img-book
{
 
    position:relative;
}
.top-right-mark
{
    display: block;
    position: absolute;
    top: 0%;
    right: 0%;
    border-top: solid  50px red;
    border-right: solid 50px red;
    border-left: solid 50px transparent;
    border-bottom: solid 50px transparent;
    text-align: center;
 
}
.text
{
    -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 25px; 
}
.text-float
{   display: flex;
    position: absolute;
    background-color: white;
    display: inline;
    padding: 2px;
    bottom: 5%;
    right: 5%;
    justify-content: center;
}
.text-price
{
    text-align: center;
    margin-left: 5px;
    font-size: 14px;
}
.text-underline
{
    text-decoration: line-through;
    margin-left: 5px;
    color: grey;
}
.title-book
{
    font-weight: bold;
    margin-top: 5px;
}
.star-line
{
    margin-top: 5px;
}
.txt-related{
    text-align: center;
    margin: 40px;
    font-size: 40px;
    font-weight: bold;
}
.btn-product-tag{
    font-size: 20px;
    background-color:#E0E0E0;
}