.body {
	margin-right: 1em;
	margin-left: 1em;
	height: 100%;
	margin-bottom: 50px;
}
#sidebar {
	margin-right: 5px;
}
#sidebar .sidebar-header .user-pic {
	float: left;
	max-width: 60px;
	max-height: 60px;
	margin-right: 0.5em;
	overflow: auto;
}

#sidebar .sidebar-header .user-pic img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

#sidebar .user-name {
	font-size: 15px;
	font-weight: bold;
}
#sidebar .user-email {
	font-size: 10px;
	color: gray;
}
#sidebar .row {
	height: 100%;
}
#sidebar {
	color: gray;
}
#sidebar .sidebar-menu {
	margin-top: 1em;
}
#sidebar .sidebar-menu > li {
	border-radius: 5px;
	cursor: pointer;
}
#sidebar .fa {
	padding: 10px;
}
#sidebar .hovergrey:hover {
	background-color: lightgray;
}
#sidebar .hovergrey {
	margin-bottom: 3px;
}
#sidebar a:hover {
	text-decoration: none;
}
#sidebar .active {
	background-color: lightgray;
}
