<link rel="stylesheet" href="/css/checkout/payment.css">

<div class="d-flex justify-content-between">
    <div class="login">
        <div class="phase-title">Login</div>
        <div class="phase background-primary"><span class="phase-text p-0 m-0">1</span></div>
    </div>
    <div class="shipping ml-4">
        <div class="phase-title">Shipping</div>
        <div class="phase background-primary m-auto"><span class="phase-text p-0 m-0">2</span></div>
    </div>
    <div class="payment">
        <div class="phase-title">Payment</div>
        <div class="phase background-primary float-right"><span class="phase-text p-0 m-0">3</span></div>
    </div>
</div>
<div class="progress mx-1 mb-3">
    <div class="progress-bar background-primary w-100"></div>
</div>