<link rel="stylesheet" href="/css/checkout/shipping.css">

<div class="d-flex justify-content-between">
    <div class="login">
        <div class="phase-title">Login</div>
        <div class="phase background-primary"><span class="phase-text p-0 m-0">1</span></div>
    </div>
    <div class="shipping ml-4">
        <div class="phase-title">Shipping</div>
        <div class="phase background-primary m-auto"><span class="phase-text p-0 m-0">2</span></div>
    </div>
    <div class="payment">
        <div class="phase-title">Payment</div>
        <div class="phase background-primary float-right"><span class="phase-text p-0 m-0">3</span></div>
    </div>
</div>
<div class="progress mx-1 mb-3">
    <div class="progress-bar background-primary w-50"></div>
</div>
<div class="addresses-title">Choose your address:</div>
<div class="addresses row">
    <div class="col-12 col-md-6 my-3">
        <div class="address choose">
            <i class="float-right" style="font-size: 0.8rem; color: green;">Default</i>
            <div style="font-weight: bold;">Hoang-Vu Le</div>
            <div style="font-size: 0.9rem;">
                <span style="font-weight: bold;">Address:</span> 49A Hung Vuong, Ward 4, District 5, Ho Chi Minh City
            </div>
            <div style="font-size: 0.9rem;">
                <span style="font-weight: bold;">Phone number:</span> (+84) 979 134 464
            </div>
            <div class="d-flex mt-2">
                <a href="/checkout/payment" class="btn btn-success">Choose this address</a>
                <a class="ml-2 btn btn-outline-secondary">Edit</a>
                <a class="ml-2 btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 my-3">
        <div class="address">
            <div style="font-weight: bold;">Hoang-Vu Le</div>
            <div style="font-size: 0.9rem;"><span style="font-weight: bold;">Address:</span> 49A Hung Vuong, Ward 4,
                District
                5, Ho Chi Minh City</div>
            <div style="font-size: 0.9rem;"><span style="font-weight: bold;">Phone number:</span> (+84) 979 134 464
            </div>
            <div class="d-flex mt-2">
                <a href="/checkout/payment" class="btn btn-outline-success">Choose this address</a>
                <a class="ml-2 btn btn-outline-secondary">Edit</a>
                <a class="ml-2 btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<button style="font-size: 0.9rem" class="mb-3 btn btn-outline-primary float-right" type="button" data-toggle="collapse"
    data-target="#addressAdding" aria-expanded="false" aria-controls="addressAdding">Add another address</button>
<div class="collapse" id="addressAdding">
    <div class="address-form m-auto">
        <div class="address-line">
            <div>Full name</div>
            <input type="text" class="form-control" placeholder="Type yor full name">
        </div>
        <div class="address-line">
            <div>Phone number</div>
            <input type="text" class="form-control" placeholder="Type your phone number">
        </div>
        <div class="address-line">
            <div>Province/City</div>
            <select class="pl-2 form-control">
                <option value="" disabled selected>Choose Province/City</option>
            </select>
        </div>
        <div class="address-line">
            <div>District</div>
            <select class="pl-2 form-control">
                <option value="" disabled selected>Choose District</option>
            </select>
        </div>
        <div class="address-line">
            <div>Ward</div>
            <select class="pl-2 form-control">
                <option value="" disabled selected>Choose Ward</option>
            </select>
        </div>
        <div class="address-line">
            <div>Address</div>
            <textarea class="form-control" placeholder="Type your address"></textarea>
        </div>
        <div class="d-flex align-items-center address-set-default">
            <i class="far fa-square"></i>
            <i class="d-none fas fa-check-square"></i>
            <span>Set this address as default</span>
        </div>
        <div class="address-buttons">
            <a href="/checkout/payment" class="btn btn-outline-success">Deliver to this address</a>
            <a class="btn btn-outline-secondary">Cancel</a>
        </div>
    </div>
</div>