.item-list {
	border-style: solid;
	border-width: 1px;
	border-color: #e5e5e5;
	border-radius: 3px;
}

.item-list .item .item-preview {
	width: 10rem;
	height: 10rem;
	padding: 1rem;
}

.item-list .item .page-link {
	margin: 0;
	padding: 0;
	width: 2rem;
	height: 2rem;
	text-align: center;
}

.item-list .item .item-count-control {
	padding-top: 0.3rem;
}

.item-list .item .item-price {
	font-weight: bold;
}

.item-list .item .item-discount {
	font-size: small;
	text-align: center;
	font-weight: bold;
}

.item-list .item .item-original-price {
	color: #888888;
	text-decoration: line-through;
	margin-right: 0.5rem;
}

.item-list .item .item-discount-amount {
	margin-left: 0.5rem;
	color: rgb(252, 105, 105);
}

.bill,
.coupon {
	padding: 1rem;
	border-style: solid;
	border-width: 1px;
	border-color: #e5e5e5;
	border-radius: 3px;
}

.coupon .input-group input,
.coupon .input-group button {
	font-size: small;
}

.button-order {
	color: white;
	background-color: red;
}

.button-order:hover {
	content: "";
	color: white;
	opacity: 0.8;
}
